h1{
    color:aqua
}

.header{
    background-color: pink ;
    border:solid;
    text-align: center;
}

p{
    color: red;

}

.jayeeta{
    border:solid;

}
.jay{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
p,h2{
    text-align: center;
}